// Place all the styles related to the account::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-sm {
    padding: 10px;
    font-size: 80%;
}
.notice-success {
    border-color: #80D651;
}
.notice-success>strong {
    color: #80D651;
}
.notice-info {
    border-color: #45ABCD;
}
.notice-info>strong {
    color: #45ABCD;
}
.notice-warning {
    border-color: #FEAF20;
}
.notice-warning>strong {
    color: #FEAF20;
}
.notice-danger {
    border-color: #d73814;
}
.notice-danger>strong {
    color: #d73814;
}
.notice-defualt {
    border-color: #7F7F84;
}
.notice-default>strong {
    color: #7F7F84;
}

.sidebar-bg{
  padding: 30px 15px 10px 15px;
  h2{
  color:#0099ff; /*蓝色*/
  font-size: 24px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
    a {
      color:#0099ff;
    }
  }

  h3{
    color:#4b5055;
    font-size: 15px;
    padding-left: 15px;
    line-height: 25px;
      a {
        color:#4b5055;
      }
      a:hover{
        color:#0099ff;
        text-decoration : none;
      }
      a.active{
        color:#0099ff;
      }

  }
}

.user-wrap-main{
  padding: 30px 30px 30px 20px;
  color:#4b5055;
  h1 {
    font-size: 24px;
  }
  .blue-text {
    color:#0099ff; /*blue*/
  }

}

.book-name {
  color:#4b5055;
}
