

<p>企业名称：北京 浓缩书有限公司</p><br/>
<p>核心成员：李笑来</p><br/>
<p>成立时间：2016年9月</p><br/>
<p>创办地点：北京</p><br/>
<p>项目用途：众筹平台</p><br/>
<h3 class="aboutus-article-head">关于 浓缩书</h3>
<br />
<p> 浓缩书是 [這裡寫敘述]！<br />
<br />
</p>
<h3 class="aboutus-article-head">奖励规则</h3>
<br />

<p><br />
</p>
