

<p>企业名称：北京浓缩书科技有限公司</p><br/>
<p>核心成员：李笑来</p><br/>
<p>成立时间：2016年9月</p><br/>
<p>创办地点：北京</p><br/>
<p>项目用途：浓缩书发布平台</p><br/>
<h3 class="aboutus-article-head">关于浓缩书</h3>
<br />
<p> 精选优质好书，提炼原书观点精粹，过滤庞杂信息，为你呈现全书要点。只需短短10分钟，就能读完一本几千字的好书，10分钟，获取世界先进的管理方法；10分钟，看完一本思维锻炼手册；10分钟，以全新的思维审视世界；10分钟，获得新生。<br />
</p>
