<div class="lp-books-block-content">

  <p class="books-block-title">
    我们的优质书籍有：
  </p>


  <div class="lp-books-all-books">



    <div class="lp-books-book">
      <img src='/images/《ON PURPOSE》.jpg'>
    </div>

    <div class="lp-books-book">
      <img src='/images/《EVEN THE ODDS》.jpg'>
    </div>

    <div class="lp-books-book">
      <img src='/images/《A BEAUTIFUL CONSTRAINT》.jpg'>
    </div>

    <div class="lp-books-book">
      <img src='/images/《THE COACHING HABIT》.jpg'>
    </div>

    <div class="lp-books-book">
      <img src='/images/《SMALL MOVE BIG CHANGE》.jpg'>
    </div>

  </div>



</div>
