<<<<<<< HEAD
<!-- <div class="overlay"> -->
<div class="lp-part-1">

    <div class="lp-block-1">
        <!-- <div class="overlay"> -->
        <h1>享受大脑升级的快感</h1>
        <h2>10分钟读完一本好书，获取最精华的内容，让你快速涉猎最多的知识领域</h2>

        <div>
            <%= link_to("开启阅读", books_path, class:"lp-block-1-button") %>
        </div>
        <!-- </div> -->
    </div>

</div>
<!-- </div> -->
</div>

<div class="lp-part-2">
<div class="lp-block-2">
    <h2>厚重英文书再也不是梦魇</h2>
    <div class="block-p">
        <p class="adva">
            浓缩书精选优质英文好书，提炼原书精华。每天10分钟，与世界顶级精英对话，升级你的认知，以全新的思维审视世界。
        </p>
    </div>

    <div class="p-pom-box-47">

        <img src='/images/features4.jpg'>
        <br>
        <h3 class="lp-advantage-title">精选英文书籍</h3>
        <p >我们精选英文世界最优质书籍，由专业团队对内容进行浓缩、翻译。无需掌握英文，也可阅读最前沿的知识。</p>

    </div>
    <div class="p-pom-box-47">

        <img src='/images/features5.jpg'>
        <br>
        <h3 class="lp-advantage-title">突出重点，聚焦精华</h3>

        <p>清晰的逻辑是浓缩书的标配。每本浓缩书都会有理有据有条理地为您呈现全书的精华观点。</p>
    </div>
    <div class="p-pom-box-47">

        <img src='/images/features6.jpg'alt="icon23">
        <br>
        <h3 class="lp-advantage-title">享受流畅阅读的快感</h3>

        <p>浓缩书会突出全书最精华的内容，同时用最接地气的表达保证您的流畅阅读体验。</p>
    </div>

</div>
</div>
<div class="lp-part-3">
<div class="lp-books-block-content">
  <p class="books-block-title">
    我们的优质书籍有：
  </p>
  <div class="lp-books-all-books">
    <div class="lp-books-book">
      <img src='/images/《ON PURPOSE》.jpg'>
    </div>
    <div class="lp-books-book">
      <img src='/images/《EVEN THE ODDS》.jpg'>
    </div>
    <div class="lp-books-book">
      <img src='/images/《A BEAUTIFUL CONSTRAINT》.jpg'>
    </div>
    <div class="lp-books-book">
      <img src='/images/《THE COACHING HABIT》.jpg'>
    </div>
    <div class="lp-books-book">
      <img src='/images/《SMALL MOVE BIG CHANGE》.jpg'>
    </div>
  </div>
</div>
</div>

<div class="lp-part-4">
<div class="lp-user-block-content">

  <div class="lp-user-left">
    <div class="lp-user-avatar">
        <img src='/images/男生头像.png'>
    </div>

    <div class="lp-user-thinking">
      <p>浓缩书最大的好处就是帮我筛选出了很多优秀的英文书籍，还将精华内容提取出来。英文不好，不过通过看浓缩书也能快速掌握优秀英文书籍的精华。</p>
    </div>

    <div class="lp-user-name">
      <span>郑凯华</span>
      <br>
      <span style="color: #0099FF;">@K Zheng</span>
    </div>

  </div>

  <div class="lp-user-right">
    <div class="lp-user-avatar">
        <img src='/images/女生头像.png'>
    </div>

    <div class="lp-user-thinking">
      <p>一直想涉猎更多领域的东西，扩大知识面。但苦于阅读速度太慢，知道浓缩书以后，我几乎每天能读3本书。有自己感兴趣的领域也能快速了解。</p>
    </div>

    <div class="lp-user-name">
      <span>张晓萌</span>
      <br>
      <span style="color: #0099FF;">@JaneSmith</span>
    </div>

  </div>

</div>
</div>

<div class="lp-part-5">
  <div class="lp-block-5">
    <h2>现在注册，可免费体验VIP服务30天！</h2>
    <div >
        <%= link_to("开启阅读", books_path,class:"lp-block-5-button") %>
    </div>
  </div>
