<div class="lp-books-block-content">
  <p class="books-block-title">
    我们的优质书籍有：
  </p>
  <div class="lp-books-all-books">
    <div class="lp-books-book">
      <img src='/images/《ON PURPOSE》.jpg'>
    </div>
    <div class="lp-books-book">
      <img src='/images/《EVEN THE ODDS》.jpg'>
    </div>
    <div class="lp-books-book">
      <img src='/images/《A BEAUTIFUL CONSTRAINT》.jpg'>
    </div>
    <div class="lp-books-book">
      <img src='/images/《THE COACHING HABIT》.jpg'>
    </div>
    <div class="lp-books-book">
      <img src='/images/《SMALL MOVE BIG CHANGE》.jpg'>
    </div>
  </div>
</div>

<div class="lp-user-block-content">

  <div class="lp-user-left">
    <div class="lp-user-avatar">
        <img src='/images/男生头像.png'>
    </div>

    <div class="lp-user-thinking">
      <p>浓缩书最大的好处就是帮我筛选出了很多优秀的英文书籍，还将精华内容提取出来。英文不好，不过通过看浓缩书也能快速掌握优秀英文书籍的精华。</p>
    </div>

    <div class="lp-user-name">
      <span>郑凯华</span>
      <br>
      <span style="color: #0099FF;">@K Zheng</span>
    </div>

  </div>

  <div class="lp-user-right">
    <div class="lp-user-avatar">
        <img src='/images/女生头像.png'>
    </div>

    <div class="lp-user-thinking">
      <p>一直想涉猎更多领域的东西，扩大知识面。但苦于阅读速度太慢，知道浓缩书以后，我几乎每天能读3本书。有自己感兴趣的领域也能快速了解。</p>
    </div>

    <div class="lp-user-name">
      <span>张晓萌</span>
      <br>
      <span style="color: #0099FF;">@JaneSmith</span>
    </div>

  </div>



</div>
