<div class="col-sm-4 shell">
    <div class="header">
        <h3>

          <%= render_book_title(book) %>


        </h3>
    </div>
    <div class="book-image-wrapper">

      <%= render_book_cover(book) %>

    </div>
</div>
