<div class="panel panel-default">
    <div class="panel-heading">
        免费阅读
    </div>
    <div class="panel-body" id="freeBooks">

        <%= render :partial => "book", :collection => Book.free.recent.limit(3), :as => :book %>


    </div>
</div>
