<div class="panel panel-default">
    <div class="panel-heading">
        免费阅读
    </div>
    <div class="panel-body" id="freeBooks">
        <div class="col-sm-4 shell">
            <div class="header">
                <h3>
                    <a href="book/5775e00b3b6917045edb0d19/preview">
                        关于目的
                    </a>
                </h3>
            </div>
            <div class="book-image-wrapper">
                <a class="thumbnail book-image" href="book/5775e00b3b6917045edb0d19/preview">
                    <img alt="..." data-ignore="1" src="http://oaurkepr4.bkt.clouddn.com/375382d7-c6b1-4c96-b1fd-41f795ae36d7.jpg">
                </a>
            </div>
        </div>
        <div class="col-sm-4 shell">
            <div class="header">
                <h3>
                    <a href="book/577096023b6917045eda9ef3/preview">
                        信任10法则
                    </a>
                </h3>
            </div>
            <div class="book-image-wrapper">
                <a class="thumbnail book-image" href="book/577096023b6917045eda9ef3/preview">
                    <img alt="..." data-ignore="1" src="http://o3b126ie1.qnssl.com/cover/41906ef2-4343-4f7e-b27e-48104139211f">
                </a>
            </div>
        </div>
        <div class="col-sm-4 shell">
            <div class="header">
                <h3>
                    <a href="book/5768aa3ecbaf43383bfbabeb/preview">
                        让培训成为习惯
                    </a>
                </h3>
            </div>
            <div class="book-image-wrapper">
                <a class="thumbnail book-image" href="book/5768aa3ecbaf43383bfbabeb/preview">
                    <img alt="..." data-ignore="1" src="http://o3b126ie1.qnssl.com/cover/4c890573-8831-4538-8f33-27e7691fd7ae">
                </a>
            </div>
        </div>
    </div>
</div>
