<div class="col-md-2 col-lg-2 recommend">
  <a class="search-book-container" href="/books/<%= @book.token %>">
    <div class="thumb">
      <%= render_book_cover_image_link(book,:thumb) %>
    </div>
    <!-- <hr class="style-two"> -->
  </a>
</div>
