<div class="index-banner">
  <div class="hero-title">
    <h1>浓缩就是精华</h1>
    <p>为进步而读书
    </p>
  </div>
</div>

<p id="notice"><%= notice %></p>
<div class="container">
    <div class="col-sm-10 col-sm-offset-1 shell-panel">
        <%= render :partial => "books/free_books" %>
        <%= render :partial => "books/hot_books" %>
        <%= render :partial => "books/latest_books" %>
  </div>
</div>
