<div class="col-md-10 col-md-offset-1">
  <div class="search-view">
    <div class="search-detail">
        <div class="search-info">
          <p>以下是&nbsp"<span><%= @query_string %></span>"&nbsp的搜索结果：</p>
        </div>

        <%= render(:partial => "books/item", :collection => @books_search, :as => :book) || render_search_empty_result %>
      </div>
  </div>
</div>
