<div class="col-md-10 col-md-offset-1">



  <h2> <%= @book.title %> </h2>



  <div class="panel panel-default">
      <div class="panel-heading">
        正文
      </div>
      <div class="panel-body" id="freeBooks">

      </div>
  </div>

</div>
