/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require devise
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import "search_bar";
@import "font-awesome";

// Trix Form
.formatted_content{
  min-height: 150px;
  margin-bottom: 15px;
}


.def-footer{
  position:relative;
  .help-link{
    float:left;
    margin:0 40px;
    li{
    padding:0 10px;
    }
  }

  .copyright-info{
    float:left;
    margin:0 40px;
  }
}


* {
  margin: 0;
}
html, body {
  height: 100%;


  line-height: 1.8em;
  letter-spacing: 0.1em;

}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -70px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 70px;
}
.site-footer {
  background: #323232;
    color: #ffffff;
  padding-top: 20px;

  a:link {color: #CCCCCC};
a:visited {color: #CCCCCC}	;
a:hover {color: #FFFFFF}	;
a:active {color: #FFFFFF};
}
