// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.book-info h3 {
  color: #606060;
  font-size: 18px;
}

.book-info a {
  color: #606060;
  text-decoration: none;
}

.book-info a:hover {
  text-decoration: none;
}

//上线前去掉
body {
  background-color: #F2F5F7 !important;
}

.book-side {
  background-color: #fff;
  width: 200px;
  height: auto;
  padding-bottom: 5px;

  // overflow: hidden;
}

.book-side .thumb {
    width: 130px;
    padding-top: 20px;
    margin: 0 auto;
}

.book-side .thumb img {
    width: 130px;
    height: 200px;
}

.book-content {
  background-color: #fff;
  width: 400px;
  height: auto;
  margin-left: 40px;
}

.book-info {
  // width: 180px;
  text-align: center;
  overflow: hidden;
}

.operate i:first-child {
  margin-right: 10px;
}

.book-content .header {
  text-align: center;
}

.book-content .content {
  margin: 30px;
  word-wrap: break-word;
}

.book-publish {
  background-color: #fff;
  margin-top: 15px;
  width: 200px;
  height: auto;
  padding: 15px;
}

.buy-plan {
  margin-top: 20px;
}
