.lp-books-block-content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  height: 307px;
  position: relative;
  .books-block-title {
    text-align: center;
    font-size: 18px;
    padding :15px 0 5px 0;
  }
  .lp-books-all-books {
    width: 960px;
    height: 261.8px;
    padding: 0 75px;
  }
  .lp-books-book {

    height: 220px;
    float: left;
    padding:0 7.5px 0 7.5px;
  }
}
