.lp-part-3 {
  display: block;
  width: 100%;
  height: 550px;
  min-width: 960px;
  background: rgb(236,236,236);
  .lp-books-block-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: 550px;
    position: relative;
    padding-top: 100px;
    .books-block-title {
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      padding :15px 0 20px 0;
    }
    .lp-books-all-books {
      width: 960px;
      height: 261.8px;
      padding: 0 47.5px;
    }
    .lp-books-book {
      margin-left: 10px;
      height: 230px;
      float: left;
      padding:0 10px 0 10px;
    }
  }
}

.lp-part-4 {
  display: block;
  width: 100%;
  height: 265px;
  min-width: 960px;
  .lp-user-block-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: 265px;
    padding:50px 0 50px 0;
    position: relative;
    .lp-user-left {
      padding-right :30px;
      float: left;
      width: 480px;
    }
    .lp-user-right {
      padding-left :30px;
      float: left;
      width: 480px;
    }
    .lp-user-avatar {
      float: left;
      width: 80px;
      height: 80px;
    }
    .lp-user-thinking {
      float: left;
      width: 370px;
      padding :5px 0 5px 20px;
      letter-spacing: 0.2px;
    }
    .lp-user-name {
      margin-left :100px;
      padding-top: 10px;
    }

  }
}
