body {
  background-color: #f4f4f4;
}

.lp-action.btn.sm{
    font-size: 14px;
    text-align: center;
    padding: 5px 0 0 6px;
    margin: 9px 20px 0 60px;
    width: 95px;
    height: 34px;
    color: #FFF;
    background: #0099ff;
    letter-spacing: 0.2em;
    a:link {color: #FFF};
    a:visited {color: #FFF}	;
    a:hover {color: #fff}	;
    a:active {color: #fff};
}

.lp-action.btn.sm.btn:hover, .lp-action.btn.sm.btn:focus, .lp-action.btn.sm.btn.focus{
  background-color: #22a7ff;
  color: #fff;
}
