body {
  background-color: #F2F5F7 !important;
}

// config navtab

.section{
  .panel {
    margin-bottom: 20px;
    background-color: transparent;
    border: 0 ;
    border-radius: 4px;
    -webkit-box-shadow: none ;
            box-shadow: none ;
  }
  .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .nav > li {
    position: relative;
    display: block;
    // 每个标签的底部都会有border，但选中状态的会高出3px；
    // border-bottom: 3px solid #eb1478;
  }
  .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
  }
  .nav > li > a:hover,
  .nav > li > a:focus {
    text-decoration: none;
    // 去掉悬停背景色；
    background-color: transparent;
  }
  .nav-tabs {
    // 标签条下方border
    border-bottom: 3px solid transparent;
    // border-bottom: none;

  }
  .nav-tabs > li {
    float: left;
    margin-right: 10px;
    // 悬停标签下方颜色条为－3px，和选中状态的标签在同一水平线
    margin-bottom: -3px;

  }
  .nav-tabs > li > a {
    // 去掉每个标签之间的右边距
    margin-right:0;
    line-height: 1.42857143;
    // 去掉默认边框
    border: 0;
    // 去掉上边和右边的圆角
    border-radius: 0;
    //定义链接文字样式
    color: #333;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.3em;
    // 非选中状态的底部border为透明色
    border-bottom: 3px solid transparent;

  }
  .nav-tabs > li > a:hover {
    // 鼠标选中状态的board颜色
    border-color: #88cfff;
  }
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
    color: #0099ff;
    cursor: default;
    background-color: transparent;
    // 定义选中状态的标签
    border-left: none;
    border-right: none;
    border-top: none;
    // 把border的底部显示出来
    border-bottom: 3px solid #0099ff;
  }
}


.navbar-header {
img{
  margin-top: 9px;
  margin-right: 10px;
  float:left;
}
}
.navbar-link{
  font-size: 1em;
  font-weight: bold;
  margin-top: 2px;
  // margin-left: 30px;
  a:link {color: #666};
  a:visited {color: #666}	;
  a:hover {color: #43cb83}	;
  a:active {color: #43cb83};

}



// .lp-action.btn{
//     background: #0099ff;
//     color: #FFF;
//     font-size: 1.5em;
//     text-align: center;
//     // margin: 0 auto;
//     padding: 8px 20px ;
//     margin: 0 40% 60px;
//     // width: 20%;
//     a:link {color: #FFF};
//     a:visited {color: #FFF}	;
//     a:hover {color: #fff}	;
//     a:active {color: #fff};
//   }

.lp-action.btn.sm{
    font-size: 14px;
    text-align: center;
    padding: 5px 0 0 6px;
    margin: 9px 20px 0 60px;
    width: 95px;
    height: 34px;
    color: #FFF;
    background: #0099ff;
    letter-spacing: 0.2em;
    a:link {color: #FFF};
    a:visited {color: #FFF}	;
    a:hover {color: #fff}	;
    a:active {color: #fff};
}

.lp-action.btn.sm.btn:hover, .lp-action.btn.sm.btn:focus, .lp-action.btn.sm.btn.focus{
  background-color: #22a7ff;
  color: #fff;
}

// config navtab end

// config by nfreeness end
