// Place all the styles related to the plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.plan-part {
    display: block;
    width: 100%;
    // height: 550px;
    min-width: 900px;
    .plan-block {
        display: block;
        width: 900px;
        // height: 550px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: white;
        min-height: 680px;
      }
    }
