// Place all the styles related to the plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// plan-dec
.plan-description{
  margin: 0 30px;
  text-align: left;
  color: #666;
  background-color: #fff;
  h3{
    font-size: 1.5em;
  }
  h4{
    font-size: 1.2em;
    color:#333;
    margin: 5px 0;
  }
  p{
    font-size: 1em;
    margin-bottom: 30px;
    margin-right: 40px;

  }
}

//


// plan banner
.plan-banner{
    // background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url('<%= asset_path("banner.jpg") %>');
    background: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30));
    text-align: center;

    display: block;
    // background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-style: none;
    margin: 0 -15px 20px;
    border-radius: 0;
    min-height: 380px;
    position: relative;
    color: #fff;
    letter-spacing: 0.2em;
    .cta-button {
        padding-top: 30px;
        margin: 0 auto;
        width: 200px;
        padding-bottom: 30px;
    }
    .hero-item-wrapper {
        width: 100%;
        min-width: 1200px;
    }
    .course-cost {
        font-size: 40px;
    }
}

.plan-hero-title {
    text-align: center;
    padding-top: 150px;
    padding-left: 30px;
    padding-right: 30px;
    h1 {
        font-size: 32px;
        font-weight: bold;
    }
    p {
        padding-top: 18px;
        font-size: 18px;
    }
}

.fa:hover {
  cursor: pointer;
}


.plan-action.btn.sm{
    font-size: 18px;
    text-align: center;
    padding: 8px 0 0 6px;
    margin: 9px 0 0 0;
    width: 150px;
    height: 45px;
    color: #FFF;
    background: #0099ff;
    letter-spacing: 0.1em;
    a:link {color: #FFF};
    a:visited {color: #FFF}	;
    a:hover {color: #fff}	;
    a:active {color: #fff};
}

.plan-action.btn.sm.btn:hover, .plan-action.btn.sm.btn:focus, .plan-action.btn.sm.btn.focus{
  background-color: #22a7ff;
  color: #fff;
}
// plan banner




.plan-part {
    display: block;
    width: 100%;
    // height: 550px;
    min-width: 900px;
    .plan-block {
        display: block;
        width: 900px;
        // height: 550px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: white;
        min-height: 680px;
      }
    }
