// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-book-container {
  display: block;
  color: #606060;
  text-decoration: none;
  width: 200px;
  height: auto;
  background-color: #fff;
  padding-bottom: 5px;
  box-shadow: 2px 2px 5px rgba(black, .1);
}


.search-book-container:hover {
  text-decoration: none;
  cursor: pointer;
}

.book-short-content {
  // display: inline;
  // padding-top: 55px;
  padding: 55px 55px;
  // margin: 0 auto;
  width: 500px;
  height: auto;
  float: left;
  margin-left: 116px;
  word-wrap: break-word;
  overflow: hidden;
}

.book-short-content > p {
  line-height: 40px;
}

.book-short-content > p::before {
  content: "";
  background: url(quote.png) no-repeat;
  display: block;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 80px;
  left: 130px;
}



hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 135px 0px 50px 80px;
    width: 1100px;
}


.book-info-out {
  background-color: #fff;
  width: 400px;
  // height: 245px;
  height: 482px;
  margin-left: 40px;
  padding: 60px 100px 100px 100px;
  box-shadow: 2px 2px 5px rgba(black, .1);
}

.book-info-out h3 {
  margin-top: -30px;
}

.book-info-out:hover {
  cursor: pointer;
}

.search-book-info {
  background-color: #fff;
  padding: 15px;
  height: auto;
  text-align: left;
  width: 200px;
  float: left;
  box-shadow: 2px 2px 5px rgba(black, .1);
}
.search-book-info > p {
  color: #666;
}

.search-book-container .thumb {
    width: 130px;
    padding-top: 20px;
    margin: 0 auto;
}

.search-book-container .thumb img {
    width: 130px;
    height: 200px;
}

.search-view {
  margin-top: 30px;
}

.book-row {
  margin-bottom: 50px;
  margin-top: 25px;
}

.recommend {
  margin-left: 85px;
  margin-bottom: 15px;
}

.recommend p {
  text-align: center;
  margin-top: 15px;
}


.book-introduction {
  display: inline-block;
  // float: left;
  margin-left: -310px;
  margin-top: -100px;
}

.book-row > h3 {
  margin: 0px 0px 30px 100px;
}
