// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 以下为liyanzeng定义的样式

  .side-bar-block{
     width: 110px;
  }

  .des-block{
    margin-top: 20px;
    padding: 40px;
    background-color: #fff;
    p{
      padding:0 20px;
    }
  }

  .lp-books-book .thumb img {
    width: 153px;
    height: 230px;
  }


  .lp-books-book {
      width: 154px;
      // margin: 0 auto;
  }

// liyanzeng定义样式结束
