

<!-- Page Content -->

<div class="row">
    <% @books.each do |book| %>
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="book-block">
            <div class="caption">
                <h4><%= render_book_title(book) %></h4>
            </div>

            <div class="book-image-wrapper">

                <%= render_book_cover(book) %>

            </div>

        </div>
    </div>
    <% end %>

</div>
<div class="text-center">
    <%= will_paginate @books %>
</div>



<!-- /.container -->
