<div class="well">

  <div class="text-center">
    <h3>年费会员</h3>
    <h4>这里是好处这里是好处这里是好处这里是好处</h4>

    <div style="padding-top:20px;">

          <%= link_to("支付年費", "#", :class => "btn btn-success btn-lg") %>

</div>
  </div>
</div>
