

<div class="plan-banner">
    <div class="plan-hero-title">
      <h2>成为年费会员</h2>
      <h3>每天一块钱，大脑升级百分之一点</h3>
      <p><%= link_to("只需 ¥ 365", new_order_path , :class => "plan-action btn sm") %></p>
    </div>
</div>


 <div class="plan-part">
  <div class="plan-block">
    <div class="plan-description">
常见问题
    </div>
  </div>
</div>
