
<div class="plan-part">
  <div class="plan-block">





<div class="well">
    <div class="text-center">
        <h2>成为年费会员</h2>
        <h3>一天一块钱，大脑升级百分之一点</h3>
        <div style="padding-top:20px; padding-bottom: 20px;">
            <%= link_to("只需 ¥ 365", new_order_path , :class => "plan-action btn sm") %>
        </div>
    </div>
</div>

<div class="container col-md-8 col-md-offset-2">
  <div class="benefit">
    <h3> 会员福利</h3>
    <br>
    <ul>
      <li>每天一本干货图书免费看</li>
      <li>不定期的线上线下活动</li>
      <li>每天飞速成长的快感</li>
    </ul>
  </div>
    <div><h3>常见问题</h3></div>
    <br>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
            Q: 如何才能加入年费会员？
         </a>
        </h4>
      </div>
      <div class="panel-body">只要点击绿色按钮“开通年费会员”，即可进入付款页面。付款成功后，您会收到一封邮件，这样您就成为年费会员。</div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
            Q: 年费会员与普通会员有什么区别？
         </a>
        </h4>
      </div>
      <div class="panel-body">年费会员除了能享受普通会员的一些特权之外，还可以享受的特权有很多。比如：<br>
        只要您是年费会员，在这一年中站上的书你都可以免费看；更优惠的是您可以加入“浓缩书干货社群”，
        这个社群是收费的，但是对于年费会员是免费的。<br>
        关于社群里的干货，以及不定期的线上线下活动，相信会让您收获更多。</div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
            Q: 年费会员如何续费？
         </a>
        </h4>
      </div>
      <div class="panel-body">经过一年的体验后，您感觉我们的服务很到位、干货很多、成长很快，想继续续费成为下一年的年费会员。只需要点击<a href="/plans">续费</a>，即可继续缴费成为年费会员，而且有优惠哦。</div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
            Q: 还有其它问题？
         </a>
        </h4>
      </div>
      <div class="panel-body">请联系我们的客服人员，我们会第一时间回复您。</div>
    </div>
  </div>



</div>
</div>
