<div class="plan-banner">
    <div class="plan-hero-title">
      <h2>成为年费会员</h2>
      <h3>每天一块钱，大脑升级百分之一点</h3>
      <p><%= link_to("只需 ¥ 365", new_order_path , :class => "plan-action btn sm") %></p>
    </div>
</div>


 <div class="plan-part">
  <div class="plan-block">
    <div class="plan-description">
    <h3>常见问题<h3>
      <h4>如何才能加入年费会员？</h4>
      <p>点击按钮“开通年费会员”，即可进入付款页面。付款成功后，您会收到一封邮件，这样您就成为年费会员。</p>
      <h4>年费会员与普通会员有什么区别？</h4>
      <p>年费会员除了能享受普通会员的一些特权之外，还可以享受的特权有很多。比如：
只要您是年费会员，在这一年中站上的书你都可以免费看；更优惠的是您可以加入“浓缩书干货社群”， 这个社群是收费的，但是对于年费会员是免费的。
关于社群里的干货，以及不定期的线上线下活动，相信会让您收获更多。</p>
      <h4>年费会员如何续费？</h4>
      <p>经过一年的体验后，您感觉我们的服务很到位、干货很多、成长很快，想继续续费成为下一年的年费会员。只需要点击续费，即可继续缴费成为年费会员，而且有优惠哦。</p>
      <h4>还有其它问题？</h4>
      <p>请联系我们的客服人员，我们会第一时间回复您。</p>
    </div>
  </div>
</div>
