<footer id="footer" class="col-md-12 col-md-offset-0">
  <div class="def-footer">
  <div class="help-link">
    <ul class="list-inline">
      <li>
        <a href="/about_us">关于我们</a>
      </li>
  <li>
    <a href="/contact_us">联系我们</a>
  </li>
  <li>
    <a href="http://tinfinite.com/" target="_blank">情非得已</a>
  </li>
  <li>
    <a href="http://xinshengdaxue.com/" target="_blank">新生大学</a>
  </li>
  <li>
    <a href="http://sudoboot.com/" target="_blank">风利</a>
  </li>
</ul>
</div>
  <div class="copyright-info">
    <span>©2016 浓缩书, Inc. All Rights Reserved</span>
  </div>
</div>

</footer>
