<footer id="footer" class="col-md-12 col-md-offset-0">
  <div class="def-footer">
  <div class="help-link">
    <ul class="list-inline">
      <li>
        <a href="/about_us">关于我们</a>
      </li>
  <li>
    <a href="mailto:support@xinshengdaxue.com?subject=我有问题咨询：">联系我们</a>
  </li>
  <li>
    <a href="/help_term">服务协议</a>
  </li>
  <li>

  </li>
</ul>
</div>
  <div class="copyright-info">
    <span>©2016 浓缩书, Inc. All Rights Reserved</span>
  </div>
</div>

</footer>
